body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

#wrapper {
  width: 800px;
  height: 950px;
  margin: 0 auto;
  background-color: #F3F3F3;
}

#header {
  width: 100%;
  height: 100px;
  background-color: #333333;
  background: -webkit-linear-gradient(#000000, #999999);
  background: -o-linear-gradient(#000000, #999999);
  background: -moz-linear-gradient(#000000, #999999);
  background: linear-gradient(#000000, #999999);
}

#header .header-logo {
  width: 150px;
  height: 150px;
  position:absolute;
  right: 200px;
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #999999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 16px 16px;
}

li a:hover:not(.active) {
  background-color: #333333;
  color: #FFFFFF;
}

.active {
    background-color: #FFFFFF;
    color: #000000;
}

#content {
  width: 600px;
  height: 700px;
  background-color: #DDDDDD;
  float: left;
}

#sidebar {
  width: 200px;
  height: 700px;
  background-color: #666666;
  float: right;
}

#footer {
  width: 100%;
  height: 100px;
  background-color: #333333;
  clear: both;
}
